// colors
	// background colors
	.yellow-bg {
		background-color: $primary-color;
	}
// positioning
	// gallery
	.position-absolute-gallery {
		position: absolute;
		top: 4.5%;
	}
	@media (min-width: 768px) {
		.position-absolute-gallery {
			top: 6%;
		}
	}
	// backgrounds
	.bg-position-top {
		background-position: top!important;
	}
	.bg-position-bottom {
		background-position: bottom!important;
	}
	.bg-position-center {
		background-position: center!important;
	}
// pagination
.pagination {
	justify-content: center;
	padding: 15px 0;
}