// forms
// global
#wrapper, .wrapper, .jumbotron {
	input[type=text], input[type=email], input[type=tel], input[type=number], textarea, select {
		position: relative!important;
		width: 100%!important;
		margin: 0!important;
		margin-bottom: 10px!important;
		padding: 10px 0!important;
		color: $base-color!important;
		border: 0!important;
		border-bottom: 1px solid $base-color!important;
		border-radius: 0!important;
		background-color: #fff!important;
		-webkit-appearance: none!important;
		-moz-appearance: none!important;
		appearance: none!important;
		&::placeholder {
			color: $base-color!important;
		}
		&:focus, &:active {
			border: 0!important;
			border-bottom: 2px solid $primary-color!important;
			&::placeholder {
				color: $base-color!important;
			}
		}
	}
	input[type=radio], input[type=checkbox] {
		display: none!important;
	}
	input[type=radio] + label, input[type=checkbox] + label {
		&:before {
			content: ''!important;  
			display:inline-block;
			width: 18px!important;
			height: 18px!important;
			margin-right: 10px!important;
			vertical-align: middle!important;
			cursor: pointer!important;
			// border: 1px solid $base-color!important;
			// background-color: $base-color!important;
		}
		img {
			border: 2px solid transparent;
			border-radius: 20px;
		}
	}
	input[type=radio] + label:before {
		border-radius: 50%!important;
	}
	input[type=radio]:checked + label, input[type=checkbox]:checked + label {
		position: relative!important;
		&:before {
			background-color: $base-color!important;
		}
		img {
			border: 2px solid $primary-color;
			border-radius: 20px;
		}
	}
	input[type=submit] {
		display: inline-block;
		margin: 0;
		padding: 10px 20px;
		color: $base-color;
		font-family: $font-family-cursive;
		font-size: 1.125rem;
		// font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		border: 1px solid $primary-color;
		border-radius: 0;
		background-color: $primary-color;
		&:hover {
			text-decoration: none;
			background-color: $primary-color;
			cursor: pointer;
		}
	}
	*:focus {
		-webkit-appearance: none!important;
		-moz-appearance: none!important;
		appearance: none!important;
		outline: none!important;
		box-shadow: none!important;
	}
	// gravity forms
	.gform {
		&_wrapper {
			margin-top: 0!important;
			// label {
				// position: absolute!important;
				// clip: rect(1px 1px 1px 1px);
				// clip: rect(1px,1px,1px,1px);
				// padding: 0!important;
				// border: 0!important;
				// height: 1px!important;
				// width: 1px!important;
				// overflow: hidden;
			// }
			margin: 16px 0;
			font-family: $font-family-base;
			text-align: left;
			// steps
			// .gf_page_steps {
			// 	border-bottom: 1px solid $base-color;
			// 	.gf_step {
			// 		display: inline-block;
			// 		height: 14px;
			// 		line-height: 1.25!important;
			// 		margin: 16px 32px 16px 0;
			// 		font-size: .875em;
			// 		opacity: 1;
			// 		&_label {
			// 			text-transform: uppercase;
			// 		}
			// 		&_completed, &_pending {
			// 			color: rgba(255,255,255,.5)
			// 		}
			// 		&_active {
			// 			color: $base-color;
			// 		}
			// 	}
			// }
			// .gform_page_fields {
			// 	padding: 20px 0;
			// }
			// .gf_simple_horizontal {
			// 	width: 100%!important;
			// 	margin: 0 auto;
			// 	.gform {
			// 		&_body {
			// 			display: table-cell;
			// 			vertical-align: middle;
			// 			width: 100%;
			// 			max-width: 75%;
			// 			margin: 0;
			// 			padding: 0;
			// 			position: relative;
			// 			ul.top_label {
			// 				display: table;
			// 				width: 100%;
			// 				margin: 0;
			// 				li {
			// 					label {
			// 						display: none;
			// 					}
			// 					padding-right: 16px;
			// 					input {
			// 						width: 100%;
			// 						padding: .375rem .75rem;
			// 					}
			// 				}
			// 			}
			// 		}
			// 		&_footer.top_label {
			// 			display: table-cell;
			// 			vertical-align: middle;
			// 			width: auto;
			// 			max-width: 25%;
			// 			padding: 0;
			// 			margin: 0;
			// 		}
			// 	}
			// }
			.gsection {
				margin: 0;
				padding: 15px 0 0;
				text-align: center;
				background-color: $base-color;
				h2 {
					margin: 0;
					padding-bottom: 10px!important;
					font-size: 1.125rem;
					color: #ffffff;
				}
				&_description {
					padding: 0;
					margin-bottom: 0!important;
				}
			}
			.noUi {
				&-target {
					border: none;
					border-radius: 0;
					background: $primary-color-lighten;
					box-shadow: none;
				}
				&-connects {
					border-radius: 0;
				}
				&-connect {
					background: $primary-color-lighten;
				}
				&-handle {
					top: -7px;
					width: 30px;
					height: 30px;
					border: none;
					border-radius: 50%;
					background: $primary-color;
					box-shadow: none;
					&:before, &:after {
						display: none;
					}
				}
				&-tooltip {
					bottom: -32px;
					border: none;
					background: transparent;
				}
			}
			.ginput_container {
				width: 100%!important;
				&_checkbox {
					text-align: center;
				}
				.slider-display {
					margin: 2.5rem 0;
				}
			}
			.gfield {
				&_radio {
					margin: 6px 0;
					padding: 0;
					font-size: .875em;
					li {
						margin: 0;
						padding: 0;
						input[type=radio] {
							display: inline-block;
							width: auto!important;
							margin-right: 8px;
						}
						label {
							display: inline-block;
						}
					}
				}
				&_checkbox {
					margin: 6px 0;
					padding: 0;
					font-size: .875em;
					li {
						margin: 0;
						padding: 0;
						input[type=checkbox] {
							display: inline-block;
							width: auto!important;
							margin-right: 8px;
						}
						label {
							display: inline-block;
							img.card {
								width: 80px;
								border: none;
							}
						}
						&.image-choices-choice {
							border: none!important;
							&-selected {
								border: none!important;
							}
							label {
								padding: 0!important;
							}
						}
					}
				}
			}
			ul.gform_fields {
				list-style: none;
				padding: 0;
				span.name_first {
					float: left;
					display: inline-block;
					width: 50%;
					margin-right: 0;
					padding-right: 0;
					label {
						display: none;
					}
				}
				span.name_last {
					position: relative;
					display: inline-block;
					width: 50%;
					margin-right: 0;
					padding-right: 0;
					label {
						display: none;
					}
				}
				li {
					list-style: none;
					&.gfield {
						padding-right: 0;
						label, .gfield_required {
							color: $base-color;
							text-transform: uppercase;
						}
						input, textarea {
							width: 100%;
							color: $base-color;
							font-size: 1rem;
							font-weight: 400;
							line-height: 1.5rem;
							// background-color: $base-color;
							border: 2px solid transparent;
							border-radius: 0;
							box-shadow: none;
							outline: none!important;
							&::placeholder {
								color: $base-color;
							}
						}
						textarea {
							min-height: 100px;
							height: 100px;
							border: 0;
						}
						input.large, textarea.large {
							width: 100%;
						}
						input[type=radio], input[type=checkbox] {
							display: none;
						}
						input[type=radio] + label, input[type=checkbox] + label {
							.image-choices-choice {
								border: none!important;
								label {
									padding: 0!important;
								}
								&-text {
									font-size: 10px;
								}
								&-image-wrap {
									height: 130px;
									border: 2px solid #ffffff;
									border-radius: 10px;
								}
							}
							&:before {
								display: none;
							}
						}
						// input[type=radio] + label:before, input[type=checkbox] + label:before {
						// 	content: '';  
						// 	display:inline-block;
						// 	width: 18px;
						// 	height: 18px;
						// 	margin-right: 10px;
						// 	vertical-align: middle;
						// 	cursor: pointer;
						// 	border: 2px solid transparent;
						// }
						input[type=radio] + label:before {
							border-radius: 50%;
						}
						input[type=radio]:checked + label, input[type=checkbox]:checked + label {
							position: relative;
							// &:after {
							//   content: '';
							//   position: absolute;
							//   top: -2px;
							//   left: 4px;
							//   width: 22px;
							//   height: 22px;
							//   border: 1px solid blue;
							//   border-radius: 50%;
							//   display: inline-block;
							//   cursor:pointer;
							// }
							.image-choices-choice {
								&-image-wrap {
									border: 2px solid $primary-color;
								}
							}
						}
					}
				}
			}
			.gform_footer, .gform_page_footer {
				text-align: center;
				border-top: none;
				input[type=email] {
					border-radius: 0;
				}
				input[type=submit], input.button {
					display: inline-block;
					margin: 0;
					padding: 10px 20px;
					color: $base-color;
					font-family: $font-family-cursive;
					font-size: 1.125rem;
					// font-weight: 700;
					text-align: center;
					text-transform: uppercase;
					text-decoration: none;
					border: 1px solid $primary-color;
					border-radius: 0;
					background-color: $primary-color;
					&:hover {
						text-decoration: none;
						background-color: $primary-color;
						cursor: pointer;
					}
				}
			}
			img.gform_ajax_spinner {
				display: none;
			}
			.gfield_error {
				input {
					border: 2px solid #ffc107!important;
				}
				.validation_message {
					display: none;
				}
			}
			.validation_error {
				font-weight: 700;
				color: #ffc107;
			}
		}
	}
	// recaptcha
	.grecaptcha-badge {
		opacity:0 !important;
	}
}
@media (min-width: 768px) {
	.gf_left_half, .ginput_left {
		display: inline-block;
		vertical-align: top;
		width: 50%;
		margin-right: 0;
		padding-right: 0;
	}
	.gf_right_half, .ginput_right {
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 50%;
		margin-right: -8px;
		padding-right: 8px;
	}
	.gf_left_third, .gf_middle_third, .gf_right_third {
		display: inline-block;
		vertical-align: top;
		width: 33.3%;
		padding-right: 10px!important;
	}
	.gf_right_third {
		padding-right: 0!important;
	}
}