// lists
ul.list-icon {
	list-style-type: none;
	padding: 0;
	li.list-item {
		padding: 10px 0;
		border-top: 2px solid $blue;
		&:last-child {
			border-bottom: 2px solid $blue;
		}
	}
}
ul.list-none {
	list-style-type: none;
	padding: 0;
	li.list-item {
		padding: 10px 0;
		border-top: 2px solid $blue;
		a, a:hover {
			color: $blue;
			text-decoration: none;
			border-bottom: 1px solid $blue;
		}
		&:last-child {
			border-bottom: 2px solid $blue;
		}
		// a {
		// 	text-decoration: none;
		// 	&:hover {
		// 		color: $dark-blue;
		// 		border-bottom: 1px solid $dark-blue;
		// 	}
		// }
	}
}
ul.list-styled, ul.list-square {
	list-style-type: none;
	padding: 0;
	li.list-item {
		padding-left: 20px;
		color: $blue;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 10px;
			width: 10px;
			height: 10px;
			background-color: $blue;
		}
	}
}