// map
#wrapper, .wrapper {
	&-offices, &-office {
		.acf-map {
			width: 100%;
			height: 600px;
			margin: 0;
		}
		/* fixes potential theme css conflict */
		.acf-map img {
			max-width: inherit !important;
		}
	}
	&-office {
		.acf-map {
			height: 300px;
		}
	}
}